body {
    margin-top: 6%;
    background-color: #ededed;
}

.navbar-nav > li{
  margin-left: 8px;
  margin-right: 8px;
}

.navbar-inverse {
    height: 140px;   
}

h3 {
	text-align: left;
}

.jumbotron {
    margin-top: 15px;   
}

.caption {
	position: relative;
	top: -5px;
	background-color: #C4C4C4;
		-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.info-center {
	width: 100%;
}


.fade-in {
	opacity: 0;
	-webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

.progress-move {
    margin-top: 4%;
}

.glyphicon-star {
    color: #FFEC17;
    margin-top: 3px;
}

.rev-move {
    position: relative;
    top: -50px;
}

.top-move {
    margin-top: -2%; 
}

.carousel {
    margin-top: 2.7%;
}

.info-box {
    background: rgba(0, 0, 0, .7);
    padding: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.thumbnail {
    max-width: 318px;
}

.footer {
    background-color: #0F1B30;
    color: #9d9d9d;
}

.bold {
    font-weight: bold;
    position: relative;
    top: -7px;
}

.sort-move {
    position: relative;
    top: -15px;
}

.sort-centered {
    text-align: center;
}

.sort-space {
    margin-left: 18px;
}

.packages {
    margin-top: -80px;
}

button {
    margin-top: 5px;
}

.hr-style {
    border: 0;
    height: 1px;
    background-image: 
    -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    
    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     
    -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      
    -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

.about-css {
    margin-top: 10%;
    text-align: center;
}

.about-row {
    margin-top: 5%;   
}

.move-down {
    margin-top: 10%;   
}

.center {
    text-align: center;
}

.hr-space {
    margin-top: 75px;
    margin-bottom: 75px;
}


.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);  
}
  
.dropdown-menu {
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1, 0);
  display: block; 
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

.logo {
    width: 50%;   
}
@media (max-width: 767px) {
    .navbar-brand > img { 
        margin-top: 20px;
    }
}
@media (max-width: 800px) {
    .body {
        margin-top: 0%; 
    }
    .navbar-inverse {
        height: 64px;   
    }
    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        position: relative;
        top: 0px;
}
    .navbar-brand > img { 
        position: relative;
        top: -32px;
        z-index: 1;
        width: 77%;
    }
    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form { 
    background-color: #09101C;
}
    
}

.slide-content {
    width: 300px;
    margin-top: 17%;
    color: #ffffff;
}

.info-width {
}

.btn-packages {
    position: relative;
    top: -10px;
    width: 100%;
}

.slide-wrapper {
    margin-top: 6%;   
}

.carousel .item {
    background: url('carousel/lodyas.png')   
}


.nav-btn a{
  color: white;
  text-decoration:none;
  text-align: center;
  display:block; /* important */
  color: #000;
}

.nav-btn, .first-link{
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;     
}


.nav-btn{
  height: 64px;
  padding-right: 30px;
  overflow: hidden;
}

.nav-btn a:hover{
  text-decoration: none;
  color: #fff;
}

.first-link{
  margin-top: 0em; 
  height: 64px;  
}

.nav-btn:hover .first-link{
  margin-top: -4em;
  color: #fff;
}

header-logo {
  margin-top: -5px;   
}

.active {
    color: #ffffff;   
}

.exchange {
    padding-bottom: 50px;   
}

.package-pricing {
    margin-left: 10%;
}

.top-row {
    margin-left: 15%;   
}

.bottom-row {
    margin-top: 5%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.pricing-move {
    margin-left: 14%;   
}

.input_button {
    margin-left: 25%;
}

.input_button2 {
    margin-top: 2%;
    margin-left: 43%;
}





/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 360px;
	height: 140px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

/*RESPONSIVE CSS*/
/*RESPONSIVE CSS*/
@media (max-width: 1199px) {
    .responsive-packages {
        font-size: 14pt;   
    }
    .fluid {
        width: 50%; 
    }
    .pinfo-fluid {
        position: relative;
        top: -310px;
        left: 500px;
    }
    .pimages-fluid {
        position: relative;
        top: 50px;
    }
}

@media (max-width: 991px) {
    .responsive-packages {
    font-size: 16pt;   
    }
    .fluid {
        width: 55%; 
    }
    .pinfo-fluid {
        position: relative;
        top: -215px;
        left: 400px;
    }
    .pimages-fluid {
        position: relative;
        top: 90px;
        left: -40px;
    }
}

@media (max-width: 920px) {
    .fluid {
        width: 45%; 
    }
    .pinfo-fluid {
        position: relative;
        top: -160px;
        left: 360px;
    }
    .pimages-fluid {
        position: relative;
        top: 120px;
        left: 0px;
    }
}

@media (max-width: 1430px) {
    .about-css {
        padding-top: 3%;
    }
}

@media (max-width: 1080px) {
    .about-css {
        padding-top: 10%;   
    }
}













/*SLIDE SHOW CSS*/
/*SLIDE SHOW CSS*/
.carousel {
  height: 100%;
  margin-bottom: 60px;
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 100%;
  max-width: none;
}

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.featurette-divider {
  margin: 80px 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

@media (min-width: 768px) {
  .navbar-wrapper {
    margin-top: 20px;
}
    
.navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    border-radius: 4px;
}

.carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
}

.featurette-heading {
    font-size: 50px;
}


@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}