.contact-container {
    width: 800px;
    height: 470px;
    margin: auto;
}

.contact-form {
    width: 375px;
    display: inline-block;
}

.smallContainer {
    margin-top: 10px;
    width: 375px;
    height: auto;
    background-color: #c1c1c1;
    padding: 0px;
    border-radius: 6px;
}

.contactLeft {
    width: 125px;
    height: 25px;
    display: inline-block;
    float: left;
    border: 0px;
}

.contact-input {
    width: 250px;
    height: 30px;
    display: inline-block;
    background-color: #727272;
    clear: both;
    border: 0px;
}

.contact-textarea {
    width: 250px;
    display: inline-block;
    background-color: #727272;
    display: table;
    border: 0px;
    margin-bottom: -5px;
}







.contact-social {
    width: 375px;
    margin-top: 10px;
    display: inline-block;
    background-color: #c1c1c1;
    float: right;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.contact-social-left {
    width: 114px;
    margin: 7px 0px 7px 7px;
    float: left;
    border: 1px solid #727272;
    border-right: none;
}

.contact-social-right {
    width: 247px;
    height: 342px;
    margin: 7px 7px 7px 0px;
    float: right;
    border: 1px solid #727272;
}

.social-btn {
    height: 42px;
    position: relative;
    left: 30%;
    margin: 13px 13px 13px 0%;
}

.social-btn:hover {
    opacity: .5;
}


h6,
h5 {
    color: #727272;
    padding: 0px 0px 0px 10px;
}

h5 {
    font-size: 17pt;
    font-weight: bolder;
    margin-top: 30px;
}

a {
    color: #ddd;
}




.submit {
    margin: 15px 0px 0px 0px;
    float: right;
}



@media (max-width: 1000px) {
  .contact-container {
    width: 400px;
    height: 800px;
}
    .smallContainer {
    width: auto;
}
    .contact-social {
    float: none;
    clear: both;
}
    h2 {
     text-align: center;  
}
}