h1, h2, h3, h4, h6 {
    font-family: 'Alegreya Sans SC', sans-serif;
    letter-spacing: 1px;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .09px;
}

.media-body {
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;
}

p {
    font-family: 'Open Sans', sans-serif; 
    font-size: 12pt;

}

nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 12.1pt;
    letter-spacing: .09px;
    font-weight: bold;
}

.fbComments {
    margin: auto;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #333;
}

.social-sidebar {
    height: 275px;
    z-index: 1;
    position: fixed;
    top: 300px;
    width: 60px;;
}

.social-list {
    list-style-type: none;
}

.social-button {
    padding: 5px 5px 5px 5px;
    margin-left: -40px;
    background-color: #0F1B30;
    border-radius: 0px 10px 10px 0px;
    
  -webkit-opacity: .75;
  -moz-opacity: .75;
  opacity: .75;
    
-webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.social-button:hover {
    padding: 5px 5px 5px 15px;
    
    -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
-webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}


@media (max-width: 768px) {
  .social-sidebar {
    position: fixed;
    top: 25%;
    width: 60px;
}
  .social-button {
    height: 35px;
}
}