@media (max-width: 1199px) {
    .responsive-packages {
        font-size: 14pt;   
    }
    .fluid {
        width: 50%; 
    }
    .pinfo-fluid {
        position: relative;
        top: -310px;
        left: 500px;
    }
    .pimages-fluid {
        position: relative;
        top: 50px;
    }
}

@media (max-width: 991px) {
    .responsive-packages {
    font-size: 16pt;   
    }
    .fluid {
        width: 55%; 
    }
    .pinfo-fluid {
        position: relative;
        top: -215px;
        left: 400px;
    }
    .pimages-fluid {
        position: relative;
        top: 90px;
        left: -40px;
    }
}

@media (max-width: 920px) {
    .fluid {
        width: 45%; 
    }
    .pinfo-fluid {
        position: relative;
        top: -160px;
        left: 360px;
    }
    .pimages-fluid {
        position: relative;
        top: 120px;
        left: 0px;
    }
}

@media (max-width: 1430px) {
    .about-css {
        padding-top: 3%;
    }
}

@media (max-width: 1080px) {
    .about-css {
        padding-top: 10%;   
    }
}

@media (max-width: 800px) {
    .pimages-fluid {
        margin-right: auto;
        margin-left: auto;
        position: relative;
        top: -18px;
        width: 35%;
    }
    .pinfo-fluid {
        position: relative;
        left: 252px;
        top: -90px;
    }
}

@media (max-width: 720px) {
    .pimages-fluid {
        margin-right: auto;
        margin-left: auto;
        position: relative;
        top: -18px;
        width: 35%;
    }
    .pinfo-fluid {
        position: relative;
        left: 237px;
        top: -87px;
    }
}

@media (max-width: 690px) {
    .pimages-fluid {
        margin-right: auto;
        margin-left: auto;
        position: relative;
        top: -10px;
        width: 35%;
    }
    .pinfo-fluid {
        position: relative;
        left: 237px;
        top: -77px;
    } 
}

@media (max-width: 640px) {
    .pimages-fluid {
        margin-right: auto;
        margin-left: auto;
        position: relative;
        top: 3px;
        width: 35%;
    }
    .pinfo-fluid {
        position: relative;
        left: 212px;
        top: -60px;
    } 
}

@media (max-width: 550px) {
    .pimages-fluid {
        margin-right: auto;
        margin-left: auto;
        position: relative;
        top: 10px;
        width: 40%;
    }
    .pinfo-fluid {
        position: relative;
        left: 168px;
        top: -43px;
    } 
}

@media (max-width: 495px) {
    .pimages-fluid {
        margin-right: auto;
        margin-left: auto;
        position: relative;
        top: 30px;
        width: 40%;
    }
    .pinfo-fluid {
        position: relative;
        left: 150px;
        top: -20px;
    } 
}

@media (max-width: 480px) {
    .pimages-fluid {
        margin-right: auto;
        margin-left: auto;
        position: relative;
        top: 30px;
        width: 40%;
    }
    .pinfo-fluid {
        position: relative;
        left: 100px;
        top: -20px;
    } 
}

@media (max-width: 430px) {
    .pimages-fluid {
        margin-right: auto;
        margin-left: auto;
        position: relative;
        top: 30px;
        width: 40%;
    }
    .pinfo-fluid {
        position: relative;
        left: 70px;
        top: -15px;
    } 
}

@media (max-width: 395px) {
    .pimages-fluid {
        margin-right: auto;
        margin-left: auto;
        position: relative;
        top: 30px;
        width: 40%;
    }
    .pinfo-fluid {
        position: relative;
        left: 40px;
        top: -15px;
    } 
}

@media (max-width: 370px) {
    .pimages-fluid {
        margin-right: auto;
        margin-left: auto;
        position: relative;
        top: 30px;
        width: 40%;
    }
    .pinfo-fluid {
        position: relative;
        left: 20px;
        top: -15px;
    } 
}

@media (max-width: 1199px) {
    .input_button {
       margin-left: 41%;
    }
    .input_button2 {
       margin-left: 47%;  
    }
}

@media (max-width: 991px) {
    .input_button {
       margin-left: 38%;
    }
    .input_button2 {
       margin-left: 46%;  
    }
}

@media (max-width: 660px) {
    .input_button {
       margin-left: 36%;
    }
    .input_button2 {
       margin-left: 46%;  
    }
}

@media (max-width: 500px) {
    .input_button {
       margin-left: 33%;
    }
    .input_button2 {
       margin-left: 46%;  
    }
}

@media (max-width: 460px) {
    .input_button {
       margin-left: 29%;
    }
    .input_button2 {
       margin-left: 44%;  
    }
}

@media (max-width: 390px) {
    .input_button {
       margin-left: 25%;
    }
    .input_button2 {
       margin-left: 41%;  
    }
}

@media (max-width: 320px) {
    .input_button {
       margin-left: 18%;
    }
    .input_button2 {
       margin-left: 39%;  
    }
}



























